.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems .dialog {
    padding: 10px 0 0 10px;
    /*color: white;*/
}

.dialogsItems .active {
    color: gold;
}

.dialogsItems .active img {
    width: 50px;
    border-radius: 30px;
}

.messages {
    padding: 10px;
}

.messages .message {
    /*color: white;*/
}


.dialogsItems .active a {
    padding-left: 10px;
    padding-top: 15px;
    position: absolute;
    text-decoration: none;
    color: red;
}

